https://www.digitalvidya.com/training/lessons/capstone-project-1-natural-language-processing-compulsory-for-the-certification/

### *** in this notebook we will only import txt , create dataframe and form pickles of required stuff for convinience

In [1]:
import pandas as pd
import os

 fetching **Train/positive** reviews

In [2]:
#take care of the path it shares same directry as of imdb data

In [3]:
data = []                  # making empty list 
#pos = []

path = './train/pos/'      # path of folder where positive reviews reside 

files = os.listdir(path)   # fetches the names of all files in the above path

for f in files:            # loop to fetch all txt of all files and append it to emptylist (data[]) 
        with open (path+f, "r",encoding='latin-1') as myfile:  # encoding apparantly is work around around 009 problem
            data.append(myfile.read())
#pos.append('positive')


train_pos = pd.DataFrame(data)    
train_pos = train_pos.rename(columns={0: 'review'})
train_pos['label']=pd.Series('positive')  # this is interesting work around  since pd.series was only filling 1st row and rest with nan 
train_pos.fillna('positive',inplace=True)   # fillna worked so well 
train_pos.head()

                                              review     label
0  Bromwell High is a cartoon comedy. It ran at t...  positive
1  Homelessness (or Houselessness as George Carli...  positive
2  Brilliant over-acting by Lesley Ann Warren. Be...  positive
3  This is easily the most underrated film inn th...  positive
4  This is not the typical Mel Brooks film. It wa...  positive

In [4]:
train_pos.describe()  # taking birds view to be confident about my work

                                                   review     label
count                                               12500     12500
unique                                              12472         1
top     I am decidedly not in the target audience for ...  positive
freq                                                    2     12500

 fetching **train/neg** reviews

In [5]:
data = []                  # making empty list 
#pos = []

path = './train/neg/'      # path of folder where positive reviews reside 

files = os.listdir(path)   # fetches the names of all files in the above path

for f in files:            # loop to fetch all txt of all files and append it to emptylist (data[]) 
        with open (path+f, "r",encoding='latin-1') as myfile:  # encoding apparantly is work around around 009 problem
            data.append(myfile.read())
#pos.append('positive')


train_neg = pd.DataFrame(data)    
train_neg = train_neg.rename(columns={0: 'review'})
train_neg['label']=pd.Series('negative')  # this is interesting work around  since pd.series was only filling 1st row and rest with nan 
train_neg.fillna('negative',inplace=True)   # fillna worked so well 
train_neg.head()

                                              review     label
0  Story of a man who has unnatural feelings for ...  negative
1  Airport '77 starts as a brand new luxury 747 p...  negative
2  This film lacked something I couldn't put my f...  negative
3  Sorry everyone,,, I know this is supposed to b...  negative
4  When I was little my parents took me along to ...  negative

fetching **test/pos** reviews

In [6]:
data = []                  # making empty list 
#pos = []

path = './test/pos/'      # path of folder where positive reviews reside 

files = os.listdir(path)   # fetches the names of all files in the above path

for f in files:            # loop to fetch all txt of all files and append it to emptylist (data[]) 
        with open (path+f, "r",encoding='latin-1') as myfile:  # encoding apparantly is work around around 009 problem
            data.append(myfile.read())
#pos.append('positive')


test_pos = pd.DataFrame(data)    
test_pos = test_pos.rename(columns={0: 'review'})
test_pos['label']=pd.Series('positive')  # this is interesting work around  since pd.series was only filling 1st row and rest with nan 
test_pos.fillna('positive',inplace=True)   # fillna worked so well 
test_pos.head()

                                              review     label
0  I went and saw this movie last night after bei...  positive
1  Actor turned director Bill Paxton follows up h...  positive
2  As a recreational golfer with some knowledge o...  positive
3  I saw this film in a sneak preview, and it is ...  positive
4  Bill Paxton has taken the true story of the 19...  positive

fetching **test/neg** reviews

In [7]:
data = []                  # making empty list 
#pos = []

path = './test/neg/'      # path of folder where positive reviews reside 

files = os.listdir(path)   # fetches the names of all files in the above path

for f in files:            # loop to fetch all txt of all files and append it to emptylist (data[]) 
        with open (path+f, "r",encoding='latin-1') as myfile:  # encoding apparantly is work around around 009 problem
            data.append(myfile.read())
#pos.append('positive')


test_neg = pd.DataFrame(data)    
test_neg = test_neg.rename(columns={0: 'review'})
test_neg['label']=pd.Series('negative')  # this is interesting work around  since pd.series was only filling 1st row and rest with nan 
test_neg.fillna('negative',inplace=True)   # fillna worked so well 
test_neg.head()

                                              review     label
0  Once again Mr. Costner has dragged out a movie...  negative
1  This is an example of why the majority of acti...  negative
2  First of all I hate those moronic rappers, who...  negative
3  Not even the Beatles could write songs everyon...  negative
4  Brass pictures (movies is not a fitting word f...  negative

### all files are imported from text to dataframe , now lets merge df to finally get train_df and test_df

In [8]:
train_df = pd.concat([train_pos, train_neg], ignore_index=True)

train_df =train_df.sample(frac=1).reset_index(drop=True)
train_df.head(6)# was not happy with label being segragated so gave it a nice mix

                                              review     label
0  This is a cartoon series where most of the act...  positive
1  This is a great movie if viewed in the proper ...  positive
2  Grand epic as it is, Kenneth Branagh's monumen...  positive
3  Clean family oriented movie. I laughed, I crie...  positive
4  I saw this movie about 5 years ago, and the me...  negative
5  with very little screen time and money, Dan Ka...  positive

In [9]:
train_df.describe()

                                                   review     label
count                                               25000     25000
unique                                              24904         2
top     How has this piece of crap stayed on TV this l...  positive
freq                                                    3     12500

In [10]:
test_df = pd.concat([test_pos, test_neg], ignore_index=True)
test_df =test_df.sample(frac=1).reset_index(drop=True) # was not happy with label being segragated so gave it a nice mix

In [11]:
test_df.describe()

                                                   review     label
count                                               25000     25000
unique                                              24801         2
top     Loved today's show!!! It was a variety and not...  positive
freq                                                    5     12500

In [12]:
#pickling both df
# train_df.to_pickle('train_df.pkl')

# test_df.to_pickle('test_df.pkl')

In [2]:
#train_df = pd.read_pickle('train_df.pkl')
#test_df = pd.read_pickle('test_df.pkl')

## joining both train_df and test_df to form imdb_df with shape (50000 x 2)

In [12]:
imdb_df = pd.concat([train_df, test_df], ignore_index=True)

imdb_df =imdb_df.sample(frac=1).reset_index(drop=True) # was not happy with label being segragated so gave it a nice mix

In [13]:
imdb_df.head(7)

                                              review     label
0  Forget everything that you have ever read abou...  positive
1  Quirky, independent, theatrical, Christian Sla...  negative
2  This is a poorly written and badly directed sh...  negative
3  I can't add an awful lot to the positive revie...  positive
4  When I was in 7th grade(back in 1977), I was a...  positive
5  I loved "The Curse of Frankenstein" so much th...  negative
6  Michael Jackson is not very popular in USA any...  positive

In [15]:
imdb_df.shape

(50000, 2)

In [17]:
imdb_df.to_pickle('pickledfiles/imdb_df.pkl')

# importing usup txt

<span style="color:purple"> 
 ### <span style="color:purple"> Phase 2 Exploration (Score 30 + 20 Extra credits):

 #### <span style="color:purple"> Extra Credits

   <span style="color:purple">  Read unlabeled data from respective folder (unsup) and store in unsup_df

In [18]:
data = []                  # making empty list 
#pos = []

path = './train/unsup/'      # path of folder where positive reviews reside 

files = os.listdir(path)   # fetches the names of all files in the above path

for f in files:            # loop to fetch all txt of all files and append it to emptylist (data[]) 
        with open (path+f, "r",encoding='latin-1') as myfile:  # encoding apparantly is work around around 009 problem
            data.append(myfile.read())
#pos.append('positive')


unsup_df = pd.DataFrame(data)    
unsup_df = unsup_df.rename(columns={0: 'review'})
#unsup_df['label']=pd.Series('negative')  # this is interesting work around  since pd.series was only filling 1st row and rest with nan 
#unsup_df.fillna('negative',inplace=True)   # fillna worked so well 
unsup_df.head()

                                              review
0  I admit, the great majority of films released ...
1  Take a low budget, inexperienced actors doubli...
2  Everybody has seen 'Back To The Future,' right...
3  Doris Day was an icon of beauty in singing and...
4  After a series of silly, fun-loving movies, 19...

In [19]:
unsup_df.to_pickle('pickledfiles/unsup_df.pkl')

 <span style="color:blue">**we will move to next notebook ('part2') as loading huge data every time i start working on this project is time consuming and inconvinient**  we would use the 2 pickles that we formed</span>.